#### 1 - FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO E O IMPRIMA

In [1]:
ler_num = input('Digite um número inteiro: ')

Digite um número inteiro: 23

In [2]:
print(ler_num)

23

In [3]:
print('O valor inteiro lido é: ', ler_num)

O valor inteiro lido é:  23

In [4]:
print('O valor inteiro lido é: {0}'.format(ler_num))

O valor inteiro lido é: 23

In [5]:
print(f'O valor inteiro lido é: {ler_num}')

O valor inteiro lido é: 23

In [6]:
ler_num = input('Digite um número inteiro: ')
print('O valor inteiro lido é: {0}'.format(ler_num))

Digite um número inteiro: 242
O valor inteiro lido é: 242

In [7]:
print(f'O tipo do dado é: {type(ler_num)}')

O tipo do dado é: <class 'str'>

In [8]:
type(ler_num)

str

#### 2 - CORREÇÃO DA RESOLUÇÃO PARA QUE O PROGRAMA IMPRIMA UM DADO DO TIPO INTEIRO

In [9]:
ler_num = int(input('Digite um número inteiro: ', ))
print(f'O tipo do dado é: {type(ler_num)}')

Digite um número inteiro: 231
O tipo do dado é: <class 'int'>

In [10]:
type(ler_num)

int

In [11]:
ler_num = 3
print('O valor do inteiro lido é: {0}'.format(ler_num))

O valor do inteiro lido é: 3

#### 3 - FAÇA UM PROGRAMA QUE LEIA UM NÚMERO REAL E O IMPRIMA

In [12]:
ler_num_r = float(input('Digite um número real: ', ))
print('\n')
print('O valor do número real lido é: {0}'.format(ler_num_r))
print('\n')
print(f'O tipo do dado lido é: {type(ler_num_r)}')

Digite um número real: 3.14


O valor do número real lido é: 3.14


O tipo do dado lido é: <class 'float'>

In [13]:
type(ler_num_r)

float

#### 4 -  PEÇA AO USUÁRIO PARA DIGITAR TRÊS VALORES E IMPRIMAR A SOMA DOS TRÊS VALORES

In [14]:
pri_val = int(input('Digite o primeiro valor: '))
print('\n')
seg_val = int(input('Digite o segundo valor: '))
print('\n')
ter_val = int(input('Digite o terceiro valor: '))
print('\n')
print('A soma dos três valores é: ', pri_val + seg_val + ter_val)

Digite o primeiro valor: 20


Digite o segundo valor: 30


Digite o terceiro valor: 40


A soma dos três valores é:  90

In [15]:
soma_val = pri_val + seg_val + ter_val
print('A soma dos valores {0} + {1} + {2} é = {3}'.format(pri_val, seg_val, ter_val, soma_val))
print('\n')
print(f'O tipo de dado da variável soma_val é: {type(soma_val)}')

A soma dos valores 20 + 30 + 40 é = 90


O tipo de dado da variável soma_val é: <class 'int'>

#### 5 - PEÇA AO USUÁRIO PARA DIGITAR UM NÚMERO REAL E IMPRIMIR O QUADRADO DESSE NÚMERO

In [16]:
ler_num_r = float(input('Digite um número real: '))
print('\n')
print(f'O quadrado de {ler_num_r} é: ', ler_num_r ** 2)

Digite um número real: 3.14


O quadrado de 3.14 é:  9.8596

In [17]:
ler_num_r = float(input('Digite um número real: '))
print('\n')
import numpy as np
qua_num_r = np.square(ler_num_r)
print('O quadrado de {0} é: {1:.2f}'.format(ler_num_r, qua_num_r))
print('\n')
print(f'O tipo de dado da váriavel qua_num_r é {type(qua_num_r)}')

Digite um número real: 2.14


O quadrado de 2.14 é: 4.58


O tipo de dado da váriavel qua_num_r é <class 'numpy.float64'>

#### 6 - PEÇA AO USUÁRIO PARA DIGITAR UM NÚMERO REAL E IMPRIMAR A QUINTA PARTE DESSE NÚMERO.

In [18]:
ler_num_r = float(input('Digite um número real: '))
print('\n')
quin_part_num_r = ler_num_r / 5
print('A quinta parte do número real {0} é {1}'.format(ler_num_r, quin_part_num_r))
print('\n')
print(f'O tipo de dado da variável quin_part_num_r é {type(quin_part_num_r)}')

Digite um número real: 9.84


A quinta parte do número real 9.84 é 1.968


O tipo de dado da variável quin_part_num_r é <class 'float'>

#### 7 - LEIA UMA TEMPERATURA EM GRAUS CELSIUS E IMPRIMA-A CONVERTIDA EM GRAUS FAHRENHEIT.  A FÓRMULA DE CONVERSÃO É: F = C * (9.0 / 5.0) + 32.0, SENDO F A TEMPERATURA EM FAHRENHEIT E C A TEMPERATURA EM GRAUS CELSIS..

In [19]:
C = float(input('Digite a temperatura em graus Celsius: '))
print('\n')
print('A temperatura em graus Celsius lida é de {0:.0f} °'.format(C))

Digite a temperatura em graus Celsius: 29


A temperatura em graus Celsius lida é de 29 °

In [20]:
F = C * (9.0 / 5.0) + 32.0
print('A temperatura em {0:.0f} ° graus Celsius convertida em graus Fahrenheit é igual à {1:.1f} °'.format(C, F))

A temperatura em 29 ° graus Celsius convertida em graus Fahrenheit é igual à 84.2 °

In [21]:
print(f'O tipo de dados da variável C é {type(C)}')
print('\n')
print(f'O tipo de dados da variável F é {type(F)}')

O tipo de dados da variável C é <class 'float'>


O tipo de dados da variável F é <class 'float'>

#### 8 - LEIA UMA TEMPERATURA EM GRAUS  KELVIN E IMPRIMA-A CONVERTIDA EM GRAUS CELSIUS. A FÓRMULA DE CONVERSÃO É: C = K - 273.15, SENDO C A TEMPERATURA EM CELSIUS E K A TEMPERATURA EM KELVIN.

In [22]:
K = float(input('Digite a temperatura em graus Kelvin: '))
print('\n')
C = K - 273.15
print('A temperatura de {0:.2f} ° em graus Kelvin convertida para graus Celsius é igual à {1:.0f} °'.format(K, C))

Digite a temperatura em graus Kelvin: 513


A temperatura de 513.00 ° em graus Kelvin convertida para graus Celsius é igual à 240 °

In [23]:
print(f'O tipo de dados da variável K é {type(K)}')
print('\n')
print(f'O tipo de dados da variável C é {type(C)}')

O tipo de dados da variável K é <class 'float'>


O tipo de dados da variável C é <class 'float'>

#### 9 - LEIA UM ÂNGULO EM GRAUS E APRESENTE-O CONVERTIDO EM RADIANOS. A FÓRMULA DE CONVERSÃO É R = G ∗ PI / 180, SENDO G O ÂNGULO EM GRAUS E R EM RADIANOS E PI = 3.14.

In [24]:
G = float(input('Digite o ângulo em graus: '))
print('\n')
PI = 3.14
R = G * PI / 180
print('O ângulo de {0:.0f} ° (graus) conversível em radianos é {1:.1f} °'.format(G, R))

Digite o ângulo em graus: 90


O ângulo de 90 ° (graus) conversível em radianos é 1.6 °

#### 10 - LEIA UM VALOR DE COMPRIMENTO EM POLEGADAS E APRESENTE-O CONVERTIDO EM CENTÍMETROS. A FÓRMULA DE CONVERSÃO É: C = P ∗ 2, 54, SENDO C O COMPRIMENTO EM CENTÍMETROS E P O COMPRIMENTO EM POLEGADAS.

In [27]:
P = float(input('Digite o comprimento em polegadas: '))
C = P * 2.54
print('\n')
print('O comprimento de {0:.0f} ° polegadas convertido para o comprimento em centímetros é igual à {1:.1f} cm'.format(P, C))

Digite o comprimento em polegadas: 90


O comprimento de 90 ° polegadas convertido para o comprimento em centímetros é igual à 228.6 cm

#### 11 - FAÇA A LEITURA DE TRÊS VALORES E APRESENTE COMO RESULTADO A SOMA DOS QUADRADOS DOS TRÊS VALORES LIDOS.

In [28]:
prim_val = float(input('Digite o primeiro valor: '))
seg_val = float(input('Digite o segundo valor: '))
terc_val = float(input('Digite o terceiro valor: '))
print(f'A soma dos quadrados dos três valores lidos é igual à {np.square(prim_val) + np.square(seg_val) + np.square(terc_val)}')

Digite o primeiro valor: 10
Digite o segundo valor: 20
Digite o terceiro valor: 30
A soma dos quadrados dos três valores lidos é igual à 1400.0

In [29]:
print(f'A soma dos quadrados dos três valores lidos é igual à {(prim_val ** 2) + (seg_val ** 2) + (terc_val ** 2)}')

A soma dos quadrados dos três valores lidos é igual à 1400.0

#### 12 - PEÇA AO USUÁRIO QUATRO NOTAS, CALCULE A MÉDIA ARITMÉTICA E IMPRIMA O RESULTADO.

In [30]:
prim_nota = float(input('Digite a nota da primeira prova: '))
seg_nota = float(input('Digite a nota da segunda prova: '))
terc_nota = float(input('Digite a nota da terceira prova: '))
quart_nota = float(input('Digite a nota da quarta prova: '))
print('\n')
tot_notas = [prim_nota, seg_nota, terc_nota, quart_nota]
print('A média final do aluno é de {0:.1f}.'.format(np.mean(tot_notas)))
print('\n')
med_notas = np.mean(tot_notas)
if (med_notas >= 5):
  print('Felizmente, o aluno foi aprovado!')
else:
  print('Infelizmente, o aluno foi reprovado!')

Digite a nota da primeira prova: 4.5
Digite a nota da segunda prova: 7.5
Digite a nota da terceira prova: 8.5
Digite a nota da quarta prova: 5.0


A média final do aluno é de 6.4.


Felizmente, o aluno foi aprovado!

#### 13 -  LEIA UM NÚMERO INTEIRO E IMPRIMA O SEU ANTECESSOR E O SEU SUCESSOR.

In [31]:
num_int = int(input('Digite um número inteiro: '))
print('\n')
print('O antecessor de {0} é {1}'.format(num_int, num_int - 1))
print('\n')
print('O sucessor de {0} é {1}'.format(num_int, num_int + 1))

Digite um número inteiro: 265


O antecessor de 265 é 264


O sucessor de 265 é 266

 #### 14 - LEIA UM NÚMERO INTEIRO E IMPRIMA A SOMA DO SUCESSOR DE SEU TRIPLO COM O ANTECESSOR DE SEU DOBRO

In [34]:
num_int = int(input('Digite um número inteiro: '))
print('\n')
print('O triplo de {0} é {1}, e o seu sucessor é {2}'.format(num_int, num_int * 3, (num_int * 3) + 1))
print('\n')
print('O dobro de {0} é {1}, e o seu antecessor é {2}'.format(num_int, num_int * 2, (num_int * 2) - 1))

Digite um número inteiro: 256


O triplo de 256 é 768, e o seu sucessor é 769


O dobro de 256 é 512, e o seu antecessor é 511

In [39]:
num_int = int(input('Digite um número inteiro: '))
print('\n')
print('O triplo de {0} é {1}'.format(num_int, num_int * 3))
print('\n')
print('O dobro de {0} é {1}'.format(num_int, num_int * 2))
print('\n')
num_tri_s = (num_int * 3) + 1
num_dup_a = (num_int * 2) - 1
print('A soma do sucessor do triplo com o antecessor do dobro de {0} é igual à {1}'.format(num_int, num_tri_s + num_dup_a))

Digite um número inteiro: 775


O triplo de 775 é 2325


O dobro de 775 é 1550


A soma do sucessor do triplo com o antecessor do dobro de 775 é igual à 3875

#### 15 - LEIA O TAMANHO DO LADO DE UM QUADRADO E IMPRIMA COMO RESULTADO A SUA ÁREA

In [40]:
lado_quad = float(input('Digite o tamanho do lado de um quadrado: '))
print('\n')
print(f'O resultado da área de tal quadrado é igual à {lado_quad * lado_quad}')

Digite o tamanho do lado de um quadrado: 17


O resultado da área de tal quadrado é igual à 289.0

#### 16 - FAÇA UM PROGRAMA QUE LEIA O VALOR DE UM PRODUTO E IMPRIMA O VALOR COM DESCONTO, TENDO EM VISTA QUE O DESCONTO FOI DE 12%

In [43]:
val_prod = float(input('Digite o valor do produto: '))
print('\n')
print(f'O valor do produto com desconto de 12% é {val_prod * 12/100}')
print('\n')
print('O valor final do produto é {0}'.format(val_prod - (val_prod * (12/100))))

Digite o valor do produto: 145.50


O valor do produto com desconto de 12% é 17.46


O valor final do produto é 128.04

#### 17 - LEIA O SALÁRIO DE UM FUNCIONÁRIO. CALCULE E IMPRIMA O VALOR DO NOVO SALÁRIO, SABENDO QUE ELE RECEBEU UM AUMENTO DE 25%.

In [5]:
sal_func = float(input('Digite o salário do funcionário: '))
print('\n')
print('O aumento de 25% do salário representa um aumento de {0:.2f} reais'.format(sal_func * (25/100)))
print('\n')
print('O salário final do funcionário com o aumento de 25% é de {0} reais'.format(sal_func + (sal_func * (25/100))))

Digite o salário do funcionário: 1558


O aumento de 25% do salário representa um aumento de 389.50 reais


O salário final do funcionário com o aumento de 25% é de 1947.5 reais

#### 18 - FAÇA UM PROGRAMA QUE LEIA O VALOR DA HORA DE TRABALHO (EM REAIS) E O NÚMERO DE HORAS TRABALHADAS NO MÊS. IMPRIMA O VALOR A SER PAGO AO FUNCIONÁRIO, ADICIONANDO 10% SOBRE O VALOR CALCULADO.

In [8]:
val_hora = float(input('Digite o valor da hora de trabalho: '))
print('\n')
num_hora_trab = int(input('Digite o número de horas trabalhadas por mês: '))
print('\n')
print('O valor à ser pago ao funcionário no final do mês é {0:.2f}'.format((val_hora * num_hora_trab) + (10/100)))

Digite o valor da hora de trabalho: 6.50


Digite o número de horas trabalhadas por mês: 250


O valor à ser pago ao funcionário no final do mês é 1625.10

#### 19 - IMPLEMENTE UM PROGRAMA QUE CALCULE O ANO DE NASCIMENTO DE UMA PESSOA A PARTIR DE SUA IDADE E DO ANO ATUAL

In [10]:
idade = int(input('Digite a idade: '))
print('\n')
ano_atual = int(input('Digite o ano atual: '))
print('\n')
print(f'O ano de nascimento dessa pessoa é {ano_atual - idade}')

Digite a idade: 21


Digite o ano atual: 2022


O ano de nascimento dessa pessoa é 2001

#### 20 - ESCREVA UM PROGRAMA QUE LEIA AS COORDENADAS X E Y DE PONTOS NO R2 E CALCULE SUA DISTÂNCIA DA ORIGEM (0, 0).

In [11]:
import math

In [12]:
math.sqrt(25)

5.0

In [17]:
x = int(input('Coordenada x: '))
print('\n')
y = int(input('Coordenada y: '))
print('\n')
dist_x_y = ((x - 0) ** 2) + ((y - 0) ** 2)
print('A distância entre os pontos x e y no R2 é de aproximadamente {0:.1f}'.format(math.sqrt(dist_x_y)))

Coordenada x: 10


Coordenada y: 22


A distância entre os pontos x e y no R2 é de aproximadamente 24.2

#### 21 -  RECEBA O SALARIO-BASE DE UM FUNCIONÁRIO. CALCULE E IMPRIMA O SALÁRIO A RECEBER, SABENDO-SE QUE ESSE FUNCIONÁRIO TEM UMA GRATIFICAÇÃO DE 5% SOBRE O SALÁRIO-BASE. ALÉM DISSO, ELE PAGA 7% DE IMPOSTO SOBRE O SALÁRIO-BASE.

In [20]:
sal_base = float(input('Digite o salário-base: '))
print('\n')
grat_sal = sal_base * (5/100)
sal_grat = sal_base + grat_sal
print('O salário-base do funcionário com a gratificação de 5% é igual à {0}'.format(sal_grat))
print('\n')
imp_sal = sal_grat * (7/100)
sal_final = sal_grat - imp_sal
print('O salário no final do mês com a gratificação de 5% e o imposto de 7% resulta em {0:.2f}'.format(sal_final))

Digite o salário-base: 1570


O salário-base do funcionário com a gratificação de 5% é igual à 1648.5


O salário no final do mês com a gratificação de 5% e o imposto de 7% resulta em 1533.11

In [23]:
sal_base = float(input('Digite o salário-base: '))
print('\n')
imp_sal = sal_base * (7/100)
sal_base_r = sal_base - imp_sal
print(f'O salário-base com a taxação tributária de 7% resulta em {sal_base_r}')
print('\n')
grat_sal = sal_base_r * (5/100)
sal_final = sal_base_r + grat_sal
print('O salário final do funcionário com 5% de gratificação resulta em {0}'.format(sal_final))

Digite o salário-base: 100


O salário-base com a taxação tributária de 7% resulta em 93.0


O salário final do funcionário com 5% de gratificação resulta em 97.65

#### LISTA DE EXERCÍCIOS FINALIZADA.