#### COLEÇÕES (LISTA, TUPLAS E DICIONÁRIOS)
## LISTAS

In [1]:
lista_de_mercado = ['leite', 'pão', 'arroz', 'feijão']
print(lista_de_mercado)

['leite', 'pão', 'arroz', 'feijão']

In [2]:
type(lista_de_mercado)

list

In [3]:
lista_de_cidades = ['Rio De Janeiro', 'São Paulo', 'Minas Gerais']
print(lista_de_cidades)

['Rio De Janeiro', 'São Paulo', 'Minas Gerais']

In [4]:
lista3 = list(range(11))
print(lista3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
nome = 'João Victor'
lista4 = list(nome)
print(lista4)

['J', 'o', 'ã', 'o', ' ', 'V', 'i', 'c', 't', 'o', 'r']

In [6]:
lista4[0]

'J'

In [7]:
tamanho_lista = len(lista4)
print(f'O tamanho da lista é {tamanho_lista}')
print(lista4[10])

O tamanho da lista é 11
r

In [8]:
num = 100
print(lista3)
print('\n')
if (num in lista3):
  print('Está na lista!')
else:
  print('Não está na lista!')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Não está na lista!

In [9]:
# Ordem alfabética
print(lista_de_mercado)
print('\n')
lista_de_mercado.sort()
print(lista_de_mercado)

['leite', 'pão', 'arroz', 'feijão']


['arroz', 'feijão', 'leite', 'pão']

In [10]:
lista_de_aniversario = ['João', 'Maria', 'Joaquina', 'João', 'Francisco']
print(lista_de_aniversario)

['João', 'Maria', 'Joaquina', 'João', 'Francisco']

In [11]:
# Usar for para contar a quantidade de elementos
for i in lista_de_aniversario:
  print(f'{i} -- {lista_de_aniversario.count(i)}')
print('\n')
print('João é o nome repetido duas vezes na lista!')

João -- 2
Maria -- 1
Joaquina -- 1
João -- 2
Francisco -- 1


João é o nome repetido duas vezes na lista!

In [12]:
lista_de_aniversario.append('Victor')
print(lista_de_aniversario)

['João', 'Maria', 'Joaquina', 'João', 'Francisco', 'Victor']

In [13]:
lista_de_mercado.append('chocolate')
print(lista_de_mercado)

['arroz', 'feijão', 'leite', 'pão', 'chocolate']

#### 1 -  ESCREVA UM PROGRAMA PARA SOMAR TODOS OS ITENS EM UMA LISTA.

In [14]:
lista_de_entrada = [1, 2, 3, 4, 5, 6, 7]
print(lista_de_entrada)
print('\n')
print(type(lista_de_entrada))
print('\n')
print(f'A soma de todos os itens da lista é igual à {sum(lista_de_entrada)}')

[1, 2, 3, 4, 5, 6, 7]


<class 'list'>


A soma de todos os itens da lista é igual à 28

In [15]:
# Usando for
soma = 0
for i in lista_de_entrada:
  soma += i
  print(soma)
print('\n')
print(f'A soma de todos os itens da lista é igual à {soma}')

1
3
6
10
15
21
28


A soma de todos os itens da lista é igual à 28

#### 2 - ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS DE UMA LISTA

In [16]:
# Usando for
print(lista_de_entrada)
print('\n')
multiplica = 1
for i in lista_de_entrada:
  multiplica *= i
  print(multiplica)
print('\n')
print(f'A multiplicação de todos os itens da lista é igual à {multiplica}')

[1, 2, 3, 4, 5, 6, 7]


1
2
6
24
120
720
5040


A multiplicação de todos os itens da lista é igual à 5040

#### 3 - ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA LISTA.

In [17]:
print(lista_de_entrada)
print('\n')
print(f'O maior número da lista é {max(lista_de_entrada)}')

[1, 2, 3, 4, 5, 6, 7]


O maior número da lista é 7

In [18]:
# Usando for
lista_de_entrada.insert(3, 1234)
print(lista_de_entrada)
print('\n')
s = 0
for i in lista_de_entrada:
  if (i > s):
    s = i
print(f'O maior número da lista é {s}')

[1, 2, 3, 1234, 4, 5, 6, 7]


O maior número da lista é 1234

#### 4 - ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA LISTA

In [19]:
# Excluindo o elemento adicionado anteriormente (1234)
del (lista_de_entrada[3])
print(lista_de_entrada)

[1, 2, 3, 4, 5, 6, 7]

In [20]:
print(f'O menor valor da lista é {min(lista_de_entrada)}')

O menor valor da lista é 1

#### 5 -  ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA LISTA.

In [21]:
l = [1, 1, 2, 2, 3, 3, 4, 5, 6]
print(l)
print('\n')
print(type(l))

[1, 1, 2, 2, 3, 3, 4, 5, 6]


<class 'list'>

In [22]:
conjunto_l = set(l)
print(conjunto_l)
print('\n')
print(type(conjunto_l))

{1, 2, 3, 4, 5, 6}


<class 'set'>

In [23]:
# Antes e depois das duplicatas removidas. 
print(l)
print('\n')
l = list(conjunto_l)
print(l)
print('\n')
print(type(l))

[1, 1, 2, 2, 3, 3, 4, 5, 6]


[1, 2, 3, 4, 5, 6]


<class 'list'>

#### 6 - ESCREVA UM PROGRAMA PARA COPIAR UMA LISTA PARA OUTRA.

In [24]:
print(f'A lista lista_de_entrada que será copiada é {lista_de_entrada}')
print('\n')
l = lista_de_entrada.copy()
print(f'A lista copiada para a variável l é {l}')

A lista lista_de_entrada que será copiada é [1, 2, 3, 4, 5, 6, 7]


A lista copiada para a variável l é [1, 2, 3, 4, 5, 6, 7]

In [25]:
print(lista_de_aniversario)
lista_para_buffet = lista_de_aniversario.copy()
print('\n')
print(lista_para_buffet)

['João', 'Maria', 'Joaquina', 'João', 'Francisco', 'Victor']


['João', 'Maria', 'Joaquina', 'João', 'Francisco', 'Victor']

In [26]:
# Remoção de um elemento da lista
lista_de_aniversario.pop(5)

'Victor'

In [27]:
# Somar duas listas
lista_de_aniversario_mae = ['Paulo', 'Paula', 'Pauliane']
print(lista_de_aniversario)
print('\n')
print(lista_de_aniversario_mae)
print('\n')
lista_final = lista_de_aniversario + lista_de_aniversario_mae
print(lista_final)

['João', 'Maria', 'Joaquina', 'João', 'Francisco']


['Paulo', 'Paula', 'Pauliane']


['João', 'Maria', 'Joaquina', 'João', 'Francisco', 'Paulo', 'Paula', 'Pauliane']

In [28]:
# Adicionar pelo método extend
lista_de_aniversario.extend(lista_de_aniversario_mae)
print(lista_de_aniversario)

['João', 'Maria', 'Joaquina', 'João', 'Francisco', 'Paulo', 'Paula', 'Pauliane']

In [29]:
# Saber o índice dos valores
lista_de_aniversario.index('Maria')

1

In [32]:
# Remoção de valores pelo remove
lista_de_aniversario.remove('João')
print(lista_de_aniversario)

['Maria', 'Joaquina', 'Francisco', 'Paulo', 'Paula', 'Pauliane']

In [33]:
# Saber o índice dos valores pelo for
lista_de_aniversario.insert(0, 'João')
lista_de_aniversario.insert(3, 'João.V')
for i in lista_de_aniversario:
  print(f'{i} - {lista_de_aniversario.index(i)}')

João - 0
Maria - 1
Joaquina - 2
João.V - 3
Francisco - 4
Paulo - 5
Paula - 6
Pauliane - 7

#### 7 - ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM.

In [34]:
# Análise observacional das duas listas
print(lista_de_aniversario)
print(lista_de_aniversario_mae)

['João', 'Maria', 'Joaquina', 'João.V', 'Francisco', 'Paulo', 'Paula', 'Pauliane']
['Paulo', 'Paula', 'Pauliane']

In [35]:
# Como saber os elementos em comuns que intersectam as duas listas:
set(lista_de_aniversario).intersection(lista_de_aniversario_mae)

{'Paula', 'Pauliane', 'Paulo'}

In [36]:
# Como resolver o problema com uma estrutura condicional:
if (len(set(lista_de_aniversario).intersection(lista_de_aniversario_mae)) >= 1):
  print(True)
else:
  print(False)

True

## TUPLAS

In [37]:
tupla = (1, 2, 3)
print(tupla)
print('\n')
print(type(tupla))

(1, 2, 3)


<class 'tuple'>

In [38]:
tupla2 = tuple(range(11))
print(tupla2)
print('\n')
print(type(tupla2))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


<class 'tuple'>

In [39]:
# sum em tupla
print(f'Os valores somados da tupla resultam em {sum(tupla2)}')

Os valores somados da tupla resultam em 55

In [40]:
# max e min em tupla
print(f'O maior número da tupla é {max(tupla2)}')
print('\n')
print(f'O menor número da tupla é {min(tupla2)}')

O maior número da tupla é 10


O menor número da tupla é 0

In [41]:
# len em tupla
print(f'Há {len(tupla2)} elementos nessa tupla')

Há 11 elementos nessa tupla

In [42]:
# in para saber se tal elemento está na tupla que retornará True ou False
10 in tupla2

True

In [43]:
# count para contar a quantidade de repetições de um elemento em tal tupla
tupla2.count(10)

1

#### 8 - ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA.

In [44]:
tupla2 = (1, 2, 3, 'João Victor', True)
print(tupla2)
print('\n')
print(type(tupla2))

(1, 2, 3, 'João Victor', True)


<class 'tuple'>

In [45]:
tupla3 = tuple(range(11))
print(tupla3)
print('\n')
print(type(tupla3))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


<class 'tuple'>

####  9 - ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES TIPOS DE DADOS.

In [46]:
tupla_d = (1, 2, 3, 'Tyler', ', The Creator', 3.14, True, [6, 7, 8])
print(tupla_d)
print('\n')
print(type(tupla_d))

(1, 2, 3, 'Tyler', ', The Creator', 3.14, True, [6, 7, 8])


<class 'tuple'>

In [47]:
# Acessando a lista da tupla e acessando um elemento específico de tal lista
print(tupla_d[7])
print('\n')
print(tupla_d[7][1])

[6, 7, 8]


7

#### 10 - ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM ITEM.

In [59]:
# index para saber o índice de um valor específico da tupla
tupla2.index(7)

3

In [49]:
tupla2 = tuple(range(1, 11))
print(tupla2[6])

7

#### 11 - ESCREVA UM PROGRAMA PARA ADICIONAR UM ITEM EM UMA TUPLA.

In [50]:
# Tuplas dos rappers que mais ouço dos Estados Unidos e do Brasil
tupla1 = ('Tyler, The Creator', 'Kendrick Lamar', 'Vince Staples')
tupla2 = ('Victor Xamã', 'Makalister', 'Diomedes Chinaski')
print(tupla1)
print('\n')
print(tupla2)

('Tyler, The Creator', 'Kendrick Lamar', 'Vince Staples')


('Victor Xamã', 'Makalister', 'Diomedes Chinaski')

In [51]:
# Adicionado um item somente na tupla
tupla1 = tupla1 + tupla2[0:1]
print(tupla1)

('Tyler, The Creator', 'Kendrick Lamar', 'Vince Staples', 'Victor Xamã')

#### 12 - ESCREVA UM PROGRAMA PARA OBTER O 4º ELEMENTO E O ÚLTIMO DE UMA TUPLA.

In [52]:
# Obtendo o quarto e o último elemento de uma tupla por um slice
tupla2 = tuple(range(1, 21, 2))
print(tupla2)
print('\n')
print(tupla2[3::6])

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)


(7, 19)

#### 13 - ESCREVA UM PROGRAMA PARA ENCONTRAR OS ITENS REPETIDOS DE UMA TUPLA.

In [53]:
# Adicionando um item repetido em uma tupla
tupla1 = tupla1 + ('Victor Xamã',)
print(tupla1)

('Tyler, The Creator', 'Kendrick Lamar', 'Vince Staples', 'Victor Xamã', 'Victor Xamã')

In [54]:
tupla1.count('Victor Xamã')

2

In [55]:
# for para apresentar a quantidade de vezes que um elemento foi repetido em uma tupla
# 'Victor Xamã' é um elemento que foi repetido três vezes na tupla
for i in tupla1:
  print(i, '-',tupla1.count(i))

Tyler, The Creator - 1
Kendrick Lamar - 1
Vince Staples - 1
Victor Xamã - 2
Victor Xamã - 2

In [56]:
# A comparação que demonstra se há duplicatas ou não na tupla
print(len(set(tupla1)))
print('\n')
print(len(tupla1))

4


5

In [57]:
# Usando uma estrutura condicional para saber se há elementos repetidos ou não em uma tupla
if (len(set(tupla1)) != len(tupla1)):
  print('Há elementos repetidos!')
else:
  print('Não há elementos repetidos!')

Há elementos repetidos!

#### 14 - ESCREVA UM PROGRAMA PARA CONVERTER UMA LISTA EM UMA TUPLA.

In [58]:
l = [1, 2, 3, 'João Victor', True, 3.14, 'YouTube']
print(l)
print('\n')
print(type(l))
print('\n')
l = tuple(l)
print(l)
print('\n')
print(type(l))

[1, 2, 3, 'João Victor', True, 3.14, 'YouTube']


<class 'list'>


(1, 2, 3, 'João Victor', True, 3.14, 'YouTube')


<class 'tuple'>

## DICIONÁRIOS

In [60]:
type({})

dict

In [61]:
estado_codigo = {'Rio De Janeiro': 'RJ', 'Minas Gerais': 'MG'}
print(estado_codigo)

{'Rio De Janeiro': 'RJ', 'Minas Gerais': 'MG'}

In [63]:
# Acessando o valor de uma chave
print(estado_codigo['Rio De Janeiro'])

RJ

In [66]:
# Como saber se um valor está presente em uma das chaves do dicionário:
'RJ' in estado_codigo.values()

True

In [67]:
# Como saber se uma chave está presente no dicionário:
'Rio De Janeiro' in estado_codigo

True

In [74]:
# Como saber se uma determinada chave e valor estão presentes no dicionário:
('Rio De Janeiro', 'RJ') in estado_codigo.items()

True

#### 15 - ESCREVA UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO.

In [76]:
# Como adicionar uma nova chave ao dicionário:
print(estado_codigo)
estado_codigo['Bahia'] = 'BA'
print('\n')
print(estado_codigo)

{'Rio De Janeiro': 'RJ', 'Minas Gerais': 'MG'}


{'Rio De Janeiro': 'RJ', 'Minas Gerais': 'MG', 'Bahia': 'BA'}

In [79]:
# Comando update para adicionar uma nova chave:
estado_codigo.update({'São Paulo':'SP'})
print(estado_codigo)

{'Rio De Janeiro': 'RJ', 'Minas Gerais': 'MG', 'Bahia': 'BA', 'São Paulo': 'SP'}

#### 16 - CRIE DOIS DICIONÁRIOS DIFERENTES E CONCATENE PARA CRIAR UM NOVO.

In [186]:
rappers_usa = {'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor', 'Vince Staples': 'Vince Staples'}
rappers_br = {'Makalister': 'Barka', 'Victor Xamã': 'Verde Esmeralda & Cinza Granito'}
print(rappers_usa)
print('\n')
print(rappers_br)

{'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor', 'Vince Staples': 'Vince Staples'}


{'Makalister': 'Barka', 'Victor Xamã': 'Verde Esmeralda & Cinza Granito'}

In [160]:
# Concatenação entre dois dicionários e criação de um novo:
rap_usa_br = {}
print(rap_usa_br)
rap_usa_br.update(rappers_usa)
rap_usa_br.update(rappers_br)
print('\n')
print(rap_usa_br)

{}


{'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor', 'Vince Staples': 'Vince Staples', 'Makalister': 'Barka', 'Victor Xamã': 'Verde Esmeralda & Cinza Granito'}

In [161]:
# Usando o for para realizar a concatenação entre os dois dicionários:
for i in rappers_usa:
  rappers_br[i] = rappers_usa[i]
print(rappers_br)

{'Makalister': 'Barka', 'Victor Xamã': 'Verde Esmeralda & Cinza Granito', 'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor', 'Vince Staples': 'Vince Staples'}

#### 17 - ESCREVA UM PROGRAMA PARA VERIFICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM DICIONÁRIO.

In [139]:
# Manualmente para saber:
'Tyler, The Creator' in rap_usa_br.keys()

True

In [144]:
n = str(input('Escreva o nome de uma chave: '))
print('\n')
n in rap_usa_br.keys()

Escreva o nome de uma chave: Vince Staples

True

#### 18 - ESCREVA UM PROGRAMA PARA ITERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR.

In [155]:
for i in rap_usa_br.items():
  print(i)

('Kendrick Lamar', 'TPAB')
('Tyler, The Creator', 'Igor')
('Vince Staples', 'Vince Staples')
('Makalister', 'Barka')
('Victor Xamã', 'Verde Esmeralda & Cinza Granito')

In [162]:
for k in rap_usa_br:
  print(f'{k}: {rap_usa_br[k]}')

Kendrick Lamar: TPAB
Tyler, The Creator: Igor
Vince Staples: Vince Staples
Makalister: Barka
Victor Xamã: Verde Esmeralda & Cinza Granito

#### 19 - ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS EM UM DICIONÁRIO.

In [182]:
# Multiplicação dos itens (chave, valor):
dict_n = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 60}
mult = 1
print(dict_n)
print('\n')
for i in dict_n:
  mult *= dict_n[i] 
  print(dict_n[i], mult)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 60}


10 10
20 200
30 6000
40 240000
50 12000000
60 720000000

#### 20 - ESCREVA UM PROGRAMA PARA REMOVER UMA CHAVE DE UM DICIONÁRIO

In [187]:
print(rappers_usa)
print('\n')
rappers_usa.pop('Vince Staples')
print(rappers_usa)

{'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor', 'Vince Staples': 'Vince Staples'}


{'Kendrick Lamar': 'TPAB', 'Tyler, The Creator': 'Igor'}

#### LISTA DE EXERCÍCIOS FINALIZADA