## FUNÇÕES

In [113]:
# Exemplo simples de uma função
def soma(a, b):
  soma = a + b
  return soma

soma(5, 9)

14

In [114]:
# Fazer o return diretamente:
def mult(a, b, c):
  return a * b * c

mult(5, 4, 3)

60

#### 1 - CRIE UMA FUNÇÃO QUE ACEITE DOIS ARGUMENTOS (NOME E IDADE) E IMPRIMA SEU VALOR

In [115]:
def usuario(nome, idade):
  return f'Nome: {nome}. Idade: {idade} anos'

usuario('João Victor Da Silva Mendes', 20)

'Nome: João Victor Da Silva Mendes. Idade: 20 anos'

In [116]:
# Type em função
type(usuario)

function

#### 2 - ESCREVA UMA FUNÇÃO DE FORMA QUE ELA POSSA ACEITAR UM TAMANHO VARIÁVEL DE ARGUMENTO E IMPRIMIR TODOS OS VALORES DOS ARGUMENTOS.

In [117]:
# * para a colocação de vários valores:
def variavel(*args):
    return args

variavel('Arroz', 'Feijão', 'Carne', 'Ovos', 'Frango', 'Presunto', 'Queijo')

('Arroz', 'Feijão', 'Carne', 'Ovos', 'Frango', 'Presunto', 'Queijo')

In [118]:
# Há como imputar somente dois valores:
variavel('João Victor', 20)

('João Victor', 20)

#### 3 - ESCREVA UMA FUNÇÃO () QUE POSSA ACEITAR DUAS VARIÁVEIS E CALCULAR A ADIÇÃO E A SUBTRAÇÃO DELAS. E TAMBÉM DEVE RETORNAR ADIÇÃO E SUBTRAÇÃO EM UMA ÚNICA CHAMADA DE RETORNO

In [119]:
def ad_sub(x, y):
  a = x + y
  s = x - y
  return a, s

ad_sub(10, 5)

(15, 5)

In [120]:
adição, subtração = ad_sub(10, 5)
print(adição)
print('\n')
print(subtração)

15


5

#### 4 - CRIE UMA FUNÇÃO QUE ACEITE O NOME DO FUNCIONÁRIO E SEU SALÁRIO E EXIBA AMBOS. SE O SALÁRIO ESTIVER FALTANDO NA CHAMADA DE FUNÇÃO, ATRIBUA O VALOR PADRÃO 1000 AO SALÁRIO.

In [121]:
# Salário de 1000 reais por default (padrão):
def sal_funcionario(nome_func, salario = 1000):
  return f'Nome do funcionário: {nome_func}. Salário: R$ {salario}'

sal_funcionario('João Victor Da Silva Mendes')

'Nome do funcionário: João Victor Da Silva Mendes. Salário: R$ 1000'

In [122]:
# Definindo um salário que não seja o valor default da variável salario
sal_funcionario('João Victor Da Silva Mendes', 22000)

'Nome do funcionário: João Victor Da Silva Mendes. Salário: R$ 22000'

#### 5 - ESCREVA UMA FUNÇÃO RECURSIVA PARA CALCULAR A SOMA DOS NÚMEROS DE 0 A 10

In [123]:
# Exemplo de função recursiva:
def fatorial(n):
  if n == 1:  # caso-base para evitar a repetição infindável da função
    return 1
  return n * fatorial(n - 1) # caso-recursivo em que a função irá chamar-se à si mesma sucessivamente

fatorial(5)

120

In [124]:
def soma(n = 0):
  if n == 10:
    return 10
  return n + soma(n + 1)

soma()

55

In [125]:
# Verificação de que a solução acima está correta:
sum(list(range(0, 11)))

55

#### 6 - ESCREVA UMA FUNÇÃO E QUANDO FOR USÁ-LA CHAME POR UM NOVO NOME.

In [126]:
def nome_idade(nome, idade):
  return nome, idade

nome_idade('João Victor', 20)

('João Victor', 20)

In [127]:
nome_idade_novo = nome_idade

type(nome_idade_novo)

function

In [128]:
# Utilizando outro nome para a mesma função que executará o mesmo bloco de código:
nome_idade_novo('João Victor', 20)

('João Victor', 20)

#### 7 - CRIE UMA FUNÇÃO QUE RECEBE COMO PARÂMETRO UM NÚMERO INTEIRO E DEVOLVE O SEU DOBRO.

In [129]:
def num_dobro(n):
  return n * 2

num_dobro(4)

8

#### 8 - FAÇA UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO É POSITIVO OU NEGATIVO. SENDO QUE O VALOR DE RETORNO SERA 1 SE POSITIVO, -1 SE NEGATIVO E 0 SE FOR IGUAL A 0.

In [130]:
def pos_neg(num):
  if (num >= 1):
    return 1
  elif (num < 0):
    return -1
  else:
    return 0

pos_neg(3)

1

#### 9 - FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS E RETORNE QUAL DELES É O MAIOR.

In [131]:
def comparação(x: int, y: int) -> int:
  if (x > y):
    return x
  elif (x == y):
    return x, y
  else:
    return y

comparação(10, 20)

20

In [132]:
# Função com formatação para especificar a comparação entre os dois números:
def comparação(x: int, y: int) -> int:
  if (x > y):
    return f'{x} é maior do que {y}'
  elif (x == y):
    return f'{x} é igual à {y}'
  else:
    return f'{y} é maior do que {x}'

comparação(23, 45)

'45 é maior do que 23'

#### 10 - ELABORE UMA FUNÇÃO QUE RECEBA TRÊS NOTAS DE UM ALUNO COMO PARÂMETROS E UMA LETRA. SE A LETRA FOR A, A FUNÇÃO DEVERÁ CALCULAR A MÉDIA ARITMÉTICA DAS NOTAS DO ALUNO; SE FOR P, DEVERÁ CALCULAR A MÉDIA PONDERADA, COM PESOS 5, 3 E 2.

In [133]:
def nota(n1, n2, n3, letra):
  if (letra == 'A'):
    media_arit = (n1 + n2 + n3) / 3
    return f'A média aritmética do aluno é {media_arit}'
  elif (letra == 'P'):
    media_pond = (n1 * 5 + n2 * 3 + n3 * 2) / (5 + 3 + 2)
    return f'A média ponderada do aluno é {media_pond}'
  else:
    return 'Letra inválida!'

nota(8.7, 7.6, 6.5, 'A')

'A média aritmética do aluno é 7.599999999999999'

#### 11 - FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS INTEIROS POSITIVOS POR PARÂMETRO E RETORNE A SOMA DOS N NUMEROS INTEIROS EXISTENTES ENTRE ELES.

In [134]:
# A soma dos n números que estão no intervalo entre x e y
def soma_intervalo(x: int, y: int) -> int:
  if (x == y):
    return y
  return x + soma_intervalo(x + 1, y)

soma_intervalo(10, 30)

420

In [135]:
# Usando o for na função:
def soma_inteiro(x: int, y: int) -> int:
  soma = 0
  for i in range(x, y + 1):
    soma += i
  return soma

soma_inteiro(10, 30)

420

#### 12 - FAÇA UMA FUNÇÃO QUE RECEBA A ALTURA E O RAIO DE UM CILINDRO CIRCULAR E RETORNE O VOLUME DO CILINDRO. O VOLUME DE UM CILINDRO CIRCULAR E CALCULADO POR MEIO DA SEGUINTE FÓRMULA: V = Π ∗ RAIO2 ∗ ALTURA, ONDE Π = 3.141592.

In [136]:
def cilindro_calc(altura, raio):
  pi = 3.14
  v = pi * (raio ** 2) * altura
  return f'O volume do cilindro circular é {v} centímetros cúbicos'

cilindro_calc(100, 30)

'O volume do cilindro circular é 282600.0 centímetros cúbicos'

#### 13 - ESCREVA UMA FUNÇÃO QUE RECEBE UM NÚMERO REAL COMO ARGUMENTO E RETORNA O VALOR ABSOLUTO DESSE NÚMERO.

In [137]:
# A função abs() nativa ao Python também retorna o valor absoluto de um número real.
def valor_absoluto(num_real: float) -> float:
  if (num_real < 0):
    num_real *= (-1)
    return num_real
  else:
    return num_real

valor_absoluto(-3.42)

3.42

#### 14 - ESCREVA UMA FUNÇÃO QUE RECEBA DOIS NÚMERO INTEIRO (N E P) COMO ARGUMENTO E RETORNA N ELEVADO A P SE N FOR MAIOR QUE P, CASO CONTRÁRIO RETORNE A RAIZ QUADRADA DE N.

In [138]:
def d_variaveis(n: int, p: int) -> int:
  if (n > p):
    return n ** p
  else:
    return math.sqrt(n)

d_variaveis(65, 4)

17850625

#### 15 - ESCREVA UMA FUNÇÃO PARA SOMAR TODOS OS NÚMEROS EM UMA LISTA.

In [139]:
def soma_lista(*lista: int) -> int:
  s = 0
  for i in lista:
    s += i
  return s

soma_lista(3, 4, 8, 23)

38

#### 16 - ESCREVA UMA FUNÇÃO PARA MULTIPLICAR TODOS OS NÚMEROS EM UMA LISTA

In [140]:
def mult_lista(*lista: int) -> int:
  mult = 1
  for i in lista:
    mult *= i
  return mult

mult_lista(2, 3, 9, 12)

648

#### 17 - ESCREVA UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO ESTÁ EM UM DETERMINADO INTERVALO.

In [141]:
# Como verificar se um número está em um determinado intervalo numérico:
20 in range(10, 21)

True

In [142]:
def num_intervalo(num_verificar: int, y: int, z: int) -> int:
  if (num_verificar in range(y, z + 1)):
    return f'{num_verificar} está no intervalo de {y} e {z}'
  else:
    return f'{num_verificar} não está no intervalo de {y} e {z}'

num_intervalo(1000, 1, 100)

'1000 não está no intervalo de 1 e 100'

#### 18 -  ESCREVA UM PROGRAMA PARA IMPRIMIR OS NÚMEROS PARES DE UMA DETERMINADA LISTA.

In [181]:
def num_par(*lista):
  list_par = []
  for i in lista:
    if (i % 2 == 0):
      list_par.append(i)
  return list_par

num_par(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

[2, 4, 6, 8, 10]

#### 19 - ESCREVA UMA FUNÇÃO PARA CRIAR E IMPRIMIR UMA LISTA ONDE OS VALORES SÃO QUADRADOS DE NÚMEROS ENTRE 1 E 30 (AMBOS INCLUÍDOS).

In [184]:
def quadrado_intervalo(x = 1, y = 30):
  list_quadrado = []
  for i in range(x, y + 1):
    list_quadrado.append(i ** 2)
  return list_quadrado

quadrado_intervalo()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

#### 20 -  ESCREVA UM PROGRAMA PARA DETECTAR O NÚMERO DE VARIÁVEIS LOCAIS DECLARADAS EM UMA FUNÇÃO.

In [185]:
# Como saber a quantidade de variáveis locais dentro de uma função:
def qualquer():
  pass

qualquer()

print(qualquer.__code__.co_nlocals)

0

In [188]:
def variaveis_locais():
  a, b, c = 1, 3.14, 5.6
  return variaveis_locais.__code__.co_nlocals

variaveis_locais()

3

#### LISTA DE EXERCÍCIOS FINALIZADA.